:root {
  --color-blue-100: #000020;
  --color-blue-700: #8080ff;
  --color-blue-900: #d0d0ff;
}

:root {
  --color-background: var(--color-blue-900);
  --color-text: var(--vt-c-text-light-1);

  --font-size: 24px;
  --section-gap: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: monospace;

  font-size: var(--font-size);
}
